*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-style: italic;
    font-size: larger;
}
select{
    background-color: rgb(14, 14, 88);
    color: white;
    padding: 5px 10px;
}
label{
    margin-left: 10px;
}
#number{
    border-color: gray;
    padding: 5px;
}
#get{
    margin-left: 10px;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
#get:hover{
    background-color: rgba(139, 57, 135, 0.582);
}
.results{
    padding: 20px;
    text-align: left;
    font-size: medium;
}
.error p{
    color:red;
    font-style:italic;
}